---
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/elements/Button.astro';
import Spacer from '../../components/elements/Spacer.astro';
import Card from '../../components/elements/Card.astro';

import { about } from '../../data/site.json';
import { getRandomItem } from '../../utils/parseItems';
const randomItem = getRandomItem(about.hello);
---

<Layout pageTitle="About" description="With over 25 years of experience designing and developing in the digital domain, I've come to know a thing or two about what drives a good website.">
  <p class="intro"><strong>{randomItem}</strong> My name is <em>{about.fullName}</em> and I'm a <em>{about.jobRole}</em> based in <em>{about.location}</em>. I currently work as a <u>{about.currentRole}</u> in the {about.currentDept} at <span style="color:#9E1B32;font-weight:bold;">{about.currentOrg}</span><img class="seal" src="/assets/images/sju-seal.png" alt="A shield with 4 panels" />.</p>
  <p>With over 25 years of experience designing and developing in the digital domain, I've come to know a thing or two about what drives a good website. My work honors the core fundamentals of the web: <strong>semantic programming</strong>, <strong>lightweight performance</strong>, <strong>agnostic accessibility</strong>, and <strong>functional design</strong> while making space for new technologies and novel techniques.</p>
  <p>I strive to build concise projects unburdened by excessive frameworks or libraries, structured to scale with your organization, and open to any user who will find it. <u>Because honestly</u>, <strong>if your website can't be viewed by everybody on every platform, across every device, and at remarkable speeds, then what’s the point?</strong></p>
  
  <div class="buttons">
    <Button label="See my work" href="/work" />
    <Button label="View my resume" href="/about/resume" />
  </div>

  <Spacer />
  <h2>What's going on</h2>
  <p>Rather than write a big long biography no one wants to read I've put together a few purposeful pages to share more about my craft, what I've been up to recently, and what I hope to be working on soon:</p>
  <Spacer />
  <ul class="cards">
    <li class="chip">
      <Card
        layoutClass="column"
        icon="fa-code"
        title="Uses"
        description="A somewhat comprehensive list of the hardware, software, and accessories I use to get the job done."
        href="/uses"
      />
    </li>
    <li class="chip">
      <Card
        layoutClass="column"
        icon="fa-comment-dots"
        title="Now"
        description="What I'm reading, listening to, thinking about, seeing, and encountering. See what I'm doing now, now!"
        href="/now"
      />
    </li>
  </ul>

</Layout>

<style lang="scss" is:global>
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  p.intro {
    img.seal {
      display: inline;
      width: auto;
      height: 24px;
      vertical-align: text-top;
      margin-left: 0.5rem;

      @include bp(tablet) {
        height: 28px;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    margin: 2rem 0;
  }

  ul {
    &.cards {
      margin: 0 0 3rem;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      @include bp(tablet) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      li {

        a {
          padding: 0.75rem;

          .content {
            svg.icon {
              width: 32px;
              height: 32px;
              vertical-align: bottom;
              margin: 0 1rem 0 0;
            }
            
            span {
              &.title {
                line-height: 1;
              }
            }
            p {
              &.description {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
</style>