---
export const prerender = true;
import json from '../../data/site.json'
import { Icon } from 'astro-icon/components';

const socials = Object.entries(json.about.social || {});
---

<ul class="socials">
  {socials.map(([key, { href, icon, title, hoverColor }]) => (
    <li>
      <a 
        href={href} 
        title={title} 
        target="_blank" 
        rel="noopener noreferrer" 
        style={`--hover-color: ${hoverColor};`}>
          <Icon name={icon} />{title}
      </a>
    </li>
  ))}
  <li>
    <span style="cursor:not-allowed;font-weight:bold;"><Icon name="fa-twitter" /><s><u>Twitter</u></s></span>
  </li>
</ul>

<style lang="scss">
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  ul.socials {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;

    li {

      a,
      span {
        min-height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var.$color-black;
        font-size: 1rem;
        
        @include bp(tablet) {
          font-size: 1.25rem;
        }

        &:hover,
        &:focus {
          text-decoration: none;

          svg {
            filter: var(--hover-color, none);     
          }
        }

        svg {
          margin: 0 0.25rem 0 0;
          vertical-align: text-bottom;
          filter: brightness(0);
          font-size: 1.3rem;
          transition: all var.$tran-slow ease;
          
          @include bp(tablet) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
</style>