---
import { about } from '../../data/site.json';
import Button from '../../components/elements/Button.astro';
import Polaroid from '../../components/elements/Polaroid.astro';
import { getRandomItem } from '../../utils/parseItems';

const randomItem = getRandomItem(about.hello);
---

<div class="intro-block">
  <div class="intro">
    <Polaroid />
    <p><span class="hello">{randomItem}</span> My name is <em>{about.fullName}</em> and I'm a <em>{about.jobRole}</em> based in <em>{about.location}</em>. {about.pitch}</p>
  </div>
  <div class="buttons">
    <Button
      label="Get in touch"
      href="/contact"
    />
    <Button
      label="See my resume"
      href="/about/resume"
    />
  </div>
</div>

<style lang="scss">
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  .intro-block {
    .intro {
      position: relative;

      @include bp(xl) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
      }

      p {
        font-size: var.$font-scale-banner;
        font-family: var.$bayside-font-serif;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        margin: 0 auto 2rem auto;

        @include bp(tablet) {
          text-align: left;
        }

        @include bp(xl) {
          width: 80%;
        }

        em {
          font-weight: var.$weight-bold;
          font-style: normal;
          
          @include bp(tablet) {
            font-weight: normal;
            animation: boldMe 0.3s ease-out 1s forwards;
          }
        }

        span.hello {
          text-decoration: underline;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;

      @include bp(tablet) {
        justify-content: flex-start;
        opacity: 0;
        animation: fadeIn 1s ease-out forwards;
        animation-delay: 1.3s;
      }
    }
  }
</style>