---
import { about } from '../../data/site.json';
import Button from '../../components/elements/Button.astro'

import { getRandomItem } from '../../utils/parseItems';
const randomItem = getRandomItem(about.hello);
---

<div class="intro-block">
  <div class="intro">
    <figure class="d_polaroid">
      <img src="/assets/images/david-m-schulman-portrait.jpg" alt="A handsome man against a blue backdrop" />
      <figcaption>The author himself, in their natural habitat</figcaption>
    </figure>
    <p><span class="hello">{randomItem}</span> My name is <em>{about.fullName}</em> and I'm a <em>{about.jobRole}</em> based in <em>{about.location}</em>. {about.pitch}</p>
  </div>
  <div class="buttons">
    <Button
      label="Get in touch"
      href="mailto:hello&#64;dmschulman&#46;com"
      buttonJs="return checkMailto()"
    />
    <Button
      label="See my work"
      href="/work"
    />
  </div>
</div>

<style lang="scss">
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  .intro-block {
    .intro {
      transform: translateY(200px);
      opacity: 0;
      animation: slideInFadeBottom 1s ease-out forwards;
      position: relative;

      @include bp(xl) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
      }

      p {
        font-size: var.$font-scale-banner;
        font-family: var.$bayside-font-serif;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        margin: 0 auto 2rem auto;

        @include bp(tablet) {
          text-align: left;
        }

        @include bp(xl) {
          width: 80%;
        }

        em {
          font-weight: normal;
          font-style: normal;
          animation: boldMe 0.3s ease-out 1s forwards;
        }

        span.hello {
          text-decoration: underline;
        }
      }

      figure {
        margin: 0;
        transform: rotate(4deg);
        display: none;

        @include bp(tablet) {
          display: block;
          width: 20%;
          float: right;
          margin: 2rem 0 0.5rem 3rem;
        }

        @include bp(desktop) {
          width: 18%;
          margin: 0 0 0.5rem 2rem;
        }

        @include bp(xl) {
          width: 15%;
        }

        figcaption {
          clear: both;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;
      opacity: 0;
      animation: fadeIn 1s ease-out forwards;
      animation-delay: 1.3s;

      @include bp(tablet) {
        justify-content: flex-start;
      }
    }
  }
</style>