---
export const prerender = true;
import resumeData from '../../data/resume.json'
import Card from '../../components/elements/Card.astro'

const { content = 'jobs' } = Astro.props;

const sortedWork = [...(resumeData[content] ?? [])].sort((a, b) => new Date(b.date) - new Date(a.date));

const grouped = sortedWork.reduce((acc, job) => {
  const key = job.category ?? '';
  if (!acc[key]) acc[key] = [];
  acc[key].push(job);
  return acc;
}, {});
---

<ul class="resume-card-block">
  {Object.entries(grouped).map(([category, jobs]) => (
    <li>
      {category && <h3 class="heading">{category}</h3>}
      <ul class="resume-cards">
        {jobs.map((job) => (
          <li>
            <Card
              cardType="resume"
              imageUrl={job.imageUrl}
              title={job.title}
              subtitle={job.subtitle}
              role={job.role}
              timestamp={job.timestamp}
              bullets={job.bullets}
            />
          </li>
        ))}
      </ul>
    </li>
  ))}
</ul>

<style lang="scss">
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  ul {
    &.resume-card-block {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        h3 {
          text-decoration: underline;
          margin-bottom: 0;

          @include bp(tablet) {
            margin-bottom: 0.5rem;
          }
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            &:last-child {
              padding: 0 0 1.5rem;
            }
          }
        }
      }
    }
  }
</style>