---
import Layout from '../layouts/Layout.astro';
import Button from '../components/elements/Button.astro'

import { about } from '../data/site.json';

import { getRandomItem } from '../utils/parseItems';
const randomItem = getRandomItem(about.hello);
---

<Layout pageTitle="About">
  <p class="intro"><strong>{randomItem}</strong> My name is <em>{about.fullName}</em> and I'm a <em>{about.jobRole}</em> based in <em>{about.location}</em>. I currently work as a <u>{about.currentRole}</u> in the {about.currentDept} at <span style="color:#9E1B32;font-weight:bold;">{about.currentOrg}</span><img class="seal" src="/assets/images/sju-seal.png" alt="A shield with 4 panels" />.</p>
  <p>With over 25 years of experience designing and developing in the digital domain, I've come to know a thing or two about what drives a good website. My work honors the core fundamentals of the web: <strong>semantic programming</strong>, <strong>lightweight performance</strong>, <strong>agnostic accessibility</strong>, and <strong>functional design</strong> while making space for new technologies and novel techniques.</p>
  <p>I strive to build concise projects unburdened by excessive frameworks or libraries, structured to scale with your organization, and open to any user who will find it. <u>Because honestly</u>, <strong>if your website can't be viewed by everybody on every platform, across every device, and at remarkable speeds, then what’s the point?</strong></p>
  <div class="buttons">
    <Button label="See my work" href="/work" />
    <Button label="View my CV" href="/resume" />
  </div>
</Layout>

<style lang="scss">
  @use '../styles/base/vars.scss' as var;
  @use '../styles/base/breakpoints.scss' as *;

  p.intro {
    font-size: 1.5rem;
    font-family: var.$bayside-font-sans;

    @include bp(tablet) {
      font-size: 1.75rem;
    }

    em {
      font-style: normal;
      text-decoration: underline;
    }

    img.seal {
      display: inline;
      width: auto;
      height: 24px;
      vertical-align: text-top;
      margin-left: 0.5rem;

      @include bp(tablet) {
        height: 28px;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    margin: 2rem 0;
  }
</style>