---
import { Image } from 'astro:assets';

const { id, collection, cover, coverAlt, title, description, role, skills, launched, published } = Astro.props
---

{
  published && (
  <div class="image-row-card">
    <a class="link" href={`/${collection}/${id}`}>
      {cover && 
        <Image
          src={cover}
          alt={coverAlt}
          format="webp"
          width={500}
          quality={50}
          inferSize={true}
        />
      }

			<div class="content">
				<h3>{title}</h3>
				<p>{description}</p>
        <div class="meta">
          {role && <span><strong>Role: </strong>{role}</span>}
          {launched && <span><strong>Launched: </strong>{launched}</span>}
          {skills?.length > 0 && <span><strong>Contributed: </strong>{skills.join(', ')}</span>}
        </div>
			</div>
    </a>
  </div>
  )
}

<style lang="scss" is:global>
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  .image-row-card {
    a {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-decoration: none;
      font-weight: normal;
      
      img {
        width: 40%;
        max-width: 260px;
        flex-shrink: 0;
        margin-right: 1rem;
        vertical-align: top;

        @include bp(mobile) {
          margin-right: 1.5rem;
          width: 40%;
          max-width: 360px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 70%;

        @include bp(desktop) {
          width: 100%;
        }

        h3 {
          margin: 0;
          width: fit-content;

          @include bp(mobile) {
            font-size: 1.75rem;
          }

          @include bp(desktop) {
            font-size: 2rem;
          }
        }

        .meta {
          display: none;

          @include bp(tablet) {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
</style>
