---
import { Image } from 'astro:assets';

const { id, collection, cover, coverAlt, hoverColor, title, published } = Astro.props

const hoverColors = [
  'rgba(0, 112, 74, 0.75)',
  'rgba(201, 0, 43, 0.75)',
  'rgba(0, 75, 147, 0.75)',
  'rgba(255, 103, 31, 0.75)',
  'rgba(218, 24, 132, 0.75)',
  'rgba(29, 161, 242, 0.75)',
  'rgba(77, 20, 140, 0.75)',
  'rgba(37, 244, 238, 0.75)',
  'rgba(255, 252, 0, 0.75)',
];

const finalColor = hoverColor || hoverColors[Math.floor(Math.random() * hoverColors.length)];
---

{
  published && (
  <div class="image-card" style={`--card-hover-color: ${finalColor}`}>
    {cover && <Image
      src={cover}
      alt={coverAlt}
      format="webp"
      width={500}
      quality={50}
      inferSize={true}
    />}
    <a class="link" href={`/${collection}/${id}`}>
      {title}
    </a>
  </div>
  )
}

<style lang="scss" is:global>
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  .image-card {
    position: relative;

    &:hover,
    &:focus {
      a.link {
        opacity: 1;
        background: var(--card-hover-color, var.$color-grey);
      }

      img {
        filter: brightness(0.5);
      }
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: top;
      transition: all var.$tran-slow ease-in-out;
    }

    a.link {
      display: flex;
      text-decoration: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem;
      background: transparent;
      opacity: 0;
      transition: all var.$tran-slow ease-in-out;
      pointer-events: none;
      font-weight: bold;
      color: var.$color-white;
      text-align: center;
      font-size: var.$font-size-h4;
      text-shadow: 3px 3px var.$color-black;
    }

    &:hover a.link,
    &:focus a.link {
      pointer-events: auto;
    }
  }
</style>
