---
import json from '../../data/site.json';
import ListSocials from '../../components/navigation/ListSocials.astro';

const year = new Date().getFullYear();
---

<footer>
  <span>Powered by <a href={json.site.stack.poweredUrl} target="_blank" rel="noopener,nofollow">{json.site.stack.poweredBy}</a>, hosted by <a href={json.site.stack.hostUrl} target="_blank" rel="noopener,nofollow">{json.site.stack.hostedBy}</a>, and open-sourced on <a href={json.site.stack.repoUrl} target="_blank" rel="noopener,nofollow">{json.site.stack.repoBy}</a></span>
  <ListSocials />
  <span>&copy; {json.site.meta.firstYear}-{year} <strong>{json.about.fullName}</strong></span>
</footer>

<style lang="scss">
  @use '../../styles/base/vars.scss' as var;
  @use '../../styles/base/breakpoints.scss' as *;

  footer {
    display: flex;

    span {
      display: block;
      font-size: 1rem;

      @include bp(tablet) {
        font-size: 1.25rem;
      }

      strong {
        cursor: cell;
      }

      a {
        color: var.$color-black;
        display: inline-block;
        min-height: 44px;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
</style>