---
import { SEO } from "astro-seo";
import { site } from '../../data/site.json';

const theme = site.meta.theme;
const { pageTitle, description, openGraph } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="generator" content={Astro.generator} />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{theme === 'bayside' && <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">}

<title>{pageTitle ? `${pageTitle} | ${site.meta.siteTitle}` : site.meta.siteTitle}</title>
<meta name="description" content={description ?? site.meta.description}>
<SEO 
  openGraph={{
    basic: {
      title: "David M. Schulman.com / A web wonderland",
      type: "website",
      image: "https://dmschulman.com/dmschulman-og-1200x630.jpg",
      url: Astro.url.href,
    },
  }}
/>

<link rel="canonical" href={`https://${site.meta.siteName}${Astro.url.pathname}`}>
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="robots" content="index, follow">

{
  import.meta.env.PROD && (
    <>
      <!-- Google tag (gtag.js) -->
      <script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-6KR51SG28T"></script>
      <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-6KR51SG28T');
      </script>
    </>
  )
}
